--- ./deps/eiconv/rebar.config.orig	2013-07-06 11:55:30.000000000 +0200
+++ ./deps/eiconv/rebar.config	2013-11-17 01:36:10.000000000 +0100
@@ -1,5 +1,7 @@
 {require_otp_vsn, "R14|R15|R16"}.
 
-{port_env, [{"freebsd|darwin", "LDFLAGS", "$LDFLAGS -liconv"}]}.
+{port_env, [{"darwin", "LDFLAGS", "$LDFLAGS -liconv"},
+            {"freebsd", "CFLAGS", "$CFLAGS -I/usr/local/include"},
+	    {"freebsd", "LDFLAGS", "$LDFLAGS -L/usr/local/lib -liconv"}]}.
 
 {port_specs, [{"priv/eiconv_nif.so", ["c_src/*.c"]}]}.
